In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('startups.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 1 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   R&D Spend	Administration	Marketing Spend	State	Profit  50 non-null     object
dtypes: object(1)
memory usage: 528.0+ bytes

In [5]:
df.columns

Index(['R&D Spend\tAdministration\tMarketing Spend\tState\tProfit'], dtype='object')

In [6]:
df = df.drop_duplicates()

In [7]:
df.count() # hence, no duplicates here

R&D Spend\tAdministration\tMarketing Spend\tState\tProfit    50
dtype: int64

In [8]:
df.isnull() # no missing values

    R&D Spend\tAdministration\tMarketing Spend\tState\tProfit
0                                               False
1                                               False
2                                               False
3                                               False
4                                               False
5                                               False
6                                               False
7                                               False
8                                               False
9                                               False
10                                              False
11                                              False
12                                              False
13                                              False
14                                              False
15                                              False
16                                              False
17                                              False
18                                              False
19                                              False
20                                              False
21                                              False
22                                              False
23                                              False
24                                              False
25                                              False
26                                              False
27                                              False
28                                              False
29                                              False
30                                              False
31                                              False
32                                              False
33                                              False
34                                              False
35                                              False
36                                              False
37                                              False
38                                              False
39                                              False
40                                              False
41                                              False
42                                              False
43                                              False
44                                              False
45                                              False
46                                              False
47                                              False
48                                              False
49                                              False

In [9]:
arr = df.to_numpy()

In [10]:
arr

array([['165349.2\t136897.8\t471784.1\tNew York\t192261.83'],
       ['162597.7\t151377.59\t443898.53\tCalifornia\t191792.06'],
       ['153441.51\t101145.55\t407934.54\tFlorida\t    191050.39'],
       ['144372.41\t118671.85\t383199.62\tNew York\t182901.99'],
       ['142107.34\t91391.77\t366168.42\tFlorida\t    166187.94'],
       ['131876.9\t99814.71\t362861.36\tNew York\t156991.12'],
       ['134615.46\t147198.87\t127716.82\tCalifornia\t156122.51'],
       ['130298.13\t145530.06\t323876.68\tFlorida\t    155752.6'],
       ['120542.52\t148718.95\t311613.29\tNew York\t152211.77'],
       ['123334.88\t108679.17\t304981.62\tCalifornia\t149759.96'],
       ['101913.08\t110594.11\t229160.95\tFlorida\t    146121.95'],
       ['100671.96\t91790.61\t249744.55\tCalifornia\t144259.4'],
       ['93863.75\t127320.38\t249839.44\tFlorida\t    141585.52'],
       ['91992.39\t135495.07\t252664.93\tCalifornia\t134307.35'],
       ['119943.24\t156547.42\t256512.92\tFlorida\t    132602.65'],
       ['114523.61\t122616.84\t261776.23\tNew York\t129917.04'],
       ['78013.11\t121597.55\t264346.06\tCalifornia\t126992.93'],
       ['94657.16\t145077.58\t282574.31\tNew York\t125370.37'],
       ['91749.16\t114175.79\t294919.57\tFlorida\t    124266.9'],
       ['86419.7\t    153514.11\t0\t        New York\t122776.86'],
       ['76253.86\t113867.3\t298664.47\tCalifornia\t118474.03'],
       ['78389.47\t153773.43\t299737.29\tNew York\t111313.02'],
       ['73994.56\t122782.75\t303319.26\tFlorida\t    110352.25'],
       ['67532.53\t105751.03\t304768.73\tFlorida\t    108733.99'],
       ['77044.01\t99281.34\t140574.81\tNew York\t108552.04'],
       ['64664.71\t139553.16\t137962.62\tCalifornia\t107404.34'],
       ['75328.87\t144135.98\t134050.07\tFlorida\t    105733.54'],
       ['72107.6\t    127864.55\t353183.81\tNew York\t105008.31'],
       ['66051.52\t182645.56\t118148.2\tFlorida\t    103282.38'],
       ['65605.48\t153032.06\t107138.38\tNew York\t101004.64'],
       ['61994.48\t115641.28\t91131.24\tFlorida\t    99937.59'],
       ['61136.38\t152701.92\t88218.23\tNew York\t97483.56'],
       ['63408.86\t129219.61\t46085.25\tCalifornia\t97427.84'],
       ['55493.95\t103057.49\t214634.81\tFlorida\t    96778.92'],
       ['46426.07\t157693.92\t210797.67\tCalifornia\t96712.8'],
       ['46014.02\t85047.44\t205517.64\tNew York\t96479.51'],
       ['28663.76\t127056.21\t201126.82\tFlorida  \t90708.19'],
       ['44069.95\t51283.14\t197029.42\tCalifornia\t89949.14'],
       ['20229.59\t65947.93\t185265.1\tNew York\t81229.06'],
       ['38558.51\t82982.09\t174999.3\tCalifornia\t81005.76'],
       ['28754.33\t118546.05\t172795.67\tCalifornia\t78239.91'],
       ['27892.92\t84710.77\t164470.71\tFlorida \t77798.83'],
       ['23640.93\t96189.63\t148001.11\tCalifornia\t71498.49'],
       ['15505.73\t127382.3\t35534.17\tNew York\t69758.98'],
       ['22177.74\t154806.14\t28334.72\tCalifornia\t65200.33'],
       ['1000.23\t    124153.04\t1903.93 \tNew York\t64926.08'],
       ['1315.46 \t115816.21\t297114.46\tFlorida \t49490.75'],
       ['0       \t135426.92\t0       \tCalifornia\t42559.73'],
       ['542.05\t    51743.15\t0       \tNew York\t35673.41'],
       ['0       \t116983.8\t45173.06\tCalifornia\t14681.4']],
      dtype=object)

In [15]:
training_data=df.sample(frac=0.8, random_state=25)
testing_data=df.drop(training_data.index)

In [16]:
print(f"no. of training examples: {training_data.shape[0]}")
print(f"no. of testing examples: {testing_data.shape[0]}")

no. of training examples: 40
no. of testing examples: 10